{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
<div class="form-center w-50 h-50">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
        <div class="form-group">
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   placeholder="Имя пользователя" autocomplete="username" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="inputPassword" class="form-control"
                   placeholder="Пароль" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
        <div class="form-check">
            <div class="checkbox mb-3">
                <label><input type="checkbox" name="_remember_me"> Запомнить меня</label>
            </div>
        </div>


        <button class="btn btn-lg btn-primary" type="submit">
            Войти
        </button>
    </form>
</div>
{% endblock %}
