{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
{% if user != null %}
<div class="w-100">
    <div class="chat-window">
        <ul class="ul-messages">
        {% for value in messages %}
            <li>
                <span class="messages-datetime">
                    {{ value.datetime }}
                </span>
                <span class="messages-username">
                    {{ value.username }} :
                </span>
                <span class="messages-text">
                    {{ value.text }}
                </span>
                {% if user.email == value.username %}
                    <button type="button" class="btn btn-link btn-sm" data-toggle="modal">
                        Изменить
                    </button>
                    <!-- Модальное окно -->
                    <div id="change-modal" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Изменить сообщение</h5>
                                <span id="close-span" class="close">&times;</span>
                            </div>
                            <!-- Модальное содержание -->
                            <div class="modal-body">
                                <textarea class="form-control" id="change-modal-input"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="close-btn" class="btn btn-secondary">Закрыть</button>
                                <button type="button" id="change-text-btn" class="btn btn-primary">Изменить сообщение</button>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="user-window">
        <ul class="ul-messages">
        {% for user in activeUsers %}
            <li class="btn-link">
                {{ user.name }}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="send-window">
        <div class="form-group send-message float-left">
             <textarea id="send-text" class="form-control" rows="5" v-model="message">
             </textarea>
        </div>
        <div class="send-button float-left">
            <button v-on:click="send" class="btn btn-lg btn-success" id="send-button" type="submit">
                Отправить
            </button>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}