{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
<div class="w-100">
    <div class="chat-window">111</div>
    <div class="user-window">222</div>
    <div class="send-window">
        <div class="form-group send-message float-left">
             <textarea id="send-text" class="form-control" rows="5" v-model="message">
             </textarea>
        </div>
        <div class="send-button float-left">
            <button v-on:click="send" class="btn btn-lg btn-success" id="send-button" type="submit">
                Отправить
            </button>
        </div>
    </div>
</div>
{% endblock %}