{% extends 'base.html.twig' %}

{% block title %}Конференции{% endblock %}

{% block body %}
    <h2>Оставьте свой комментарий!</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
            <a href="{{ path('conference', { id: conference.id }) }}">Просмотреть комментарии</a>
        </p>
    {% endfor %}
{% endblock %}
